@import url("https://fonts.googleapis.com/css?family=Nunito");
$blue: #1b5998;
$orange: #fe9870;

footer {
  background-color: $blue;
  color: $orange;
  margin-top: 100px;
  height: 66.5vw;
  text-align: center;
  padding: 10px;
  font-family: "Nunito", sans-serif;
}
